<!DOCTYPE html>
<html lang="en">
	<head>
        <script src="/js/jquery.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="/css/styles.css" rel="stylesheet">
    
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/home" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
       <%for(i=0;i<nav.length;i++){%>
         <li>
           <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
         </li>
         <%}%>
      </ul>
      <a href="/" class="navbar-brand">Sign Out</a>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Edit Book
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <form method="POST" action="/edit/books/edit" enctype="multipart/form-data">
            <input type="text" value="<%=book._id%>" name="id" hidden>

            <div class="form-group row">
                <div class="col-md-6" style="padding-top: 1rem;">
                    <label for="tag" style="padding-left: 0.5rem;">Title:</label>
                    <input class="form-control roundBorder" type="text"
                        placeholder="Enter title of the book" name="title" value="<%=book.title%>"
                        required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6" style="padding-top: 1rem;">
                    <label for="tag" style="padding-left: 0.5rem;">Genre:</label>
                    <input class="form-control roundBorder" type="text"
                        placeholder="Enter genre of the book" name="genre" value="<%=book.genre%>"
                        required>
                </div>
                <div class="col-md-6 row justify-content-center" style="padding-top: 1rem;">
                    <label for="tag" style="padding-left: 0.5rem;">Image:</label><br>
                    <div class="row row justify-content-center">
                        <div class="col-md-5 "><input class="" type="file" accept="image/*" name="image"
                                placeholder="Image Icon" onchange="img_pathUrl(this);"
                                style="padding-top: 0.5rem;">
                            <img src="<%=book.image%>" alt="" id="preview" width="100px">
                        </div>

                    </div>
                </div>
            </div>
            <label for="tag" style="padding-left: 0.5rem;">Author:</label>
            <div class="form-group">

                <input class="form-control roundBorder" type="text"
                    placeholder="Enter name of the author" name="author" value="<%=book.author%>"
                    required>

            </div>
            <label for="tag" style="padding-left: 0.5rem;">Description:</label>
            <div class="form-group">

                <textarea class="form-control roundBorder" name="description" id="" cols="30" rows="5"
                    style="width: 100%;" placeholder="Enter description of the book"
                    required><%=book.description%></textarea>

            </div>

            <input class="btn btn-block roundBorder"
                style="margin-top: 10px; background-color:darkblue; color: #fffffe; font-family: 'Montserrat', sans-serif;"
                type="submit" value="Update Book">
          <!--/stories-->
          
          
          
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
        <p class="pull-right">Created by Sandra Pramod<i class="icon-heart-empty"></i></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>